<!DOCTYPE html>
<html>
  <head>
    <title>Subvixen</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|VT323" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <!-- for jquery-readyselector -->
  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="flex-container">
      <div class="flex-1">
        <%= link_to 'sV', root_path, :class => "logo", :data => {
          :confirm => "Ready to go back to the start?\n\nIf you were working on an effect, please note you will lose your current progress."} %>
        </div>
      <div class="flex-large" id="logo-byline">visual code generator</div>
      <div class="flex-1 about-right">
        <%= link_to 'about', about_path, :class => "align-right" %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
