<!DOCTYPE html>
<html>
  <head>
    <title>Subvixen</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|VT323" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <!-- for jquery-readyselector -->
  <body class="<%= controller_name %> <%= action_name %>">
    <nav>
      <%= link_to 'sV', root_path, :class => "logo", :data => {
          :confirm => "Ready to go back to the start?\nAre you sure you want to lose your current progress?"} %>visual code generator
      <%= link_to 'about', root_path %>
    </nav>

    <%= yield %>
  </body>
</html>
